:root {
  box-sizing: border-box;
  font-family: 'Mooli', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: lightcyan;
}